{% extends "layout.njk" %}

{% block header %}
<h1>Login Page</h1>
{% endblock %}

{% block body %}
{# Signin using email and password #}
<section class="container">
    <h2>Login Form</h2>
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control is-valid" name="email" placeholder="Email" />
            <small class="valid-feedback">Looks good!</small>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control is-invalid" name="password" placeholder="Password" />
            <small class="invalid-feedback">Password field is required.</small>
        </div>
        <div class="mb-3">
            <input type="submit" class="form-control" class="btn btn-dark btn-outline-info" name="submit" value="Login" />
        </div>
    </form>
</section>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
