{% extends "layout.njk" %}

{% block header %}
<h1>Registration Page</h1>
{% endblock %}

{% block body %}
{# Register using first name, last name, username, email, phone number, password #}
<section class="container">
    <h2>Registration Form</h2>
    <form action="/register" method="post">
        <input type="text" name="firstName" placeholder="First Name" />
        <input type="text" name="lastName" placeholder="Last Name" />
        <input type="text" name="username" placeholder="Username" />
        <input type="email" name="email" placeholder="Email" />
        <input type="text" name="phoneNumber" placeholder="Phone Number" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Register" />
    </form>
</section>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
